i {
    color: inherit;

    &.menu-icon {
      font-size:12;
      line-height: 1;
      margin-left: auto;
      .rtl & {
        margin-left: 0;
        margin-right: auto;
      }
      color: #b684ff;
      &:before {
        vertical-align: middle;
      }
    }

    &.menu-arrow {
      font: normal normal normal 24px/1 "Material Design Icons";
      line-height: 1;
      font-size: 12;
      margin-left: auto;
      .rtl & {
        margin-left: 0;
        margin-right: auto;
      }
      color:#b684ff;
      &:before{
        content: "\f0141";
        font-size: inherit;
        color: inherit;
      }
      + .menu-icon {
        margin-left: .25rem;
        margin-bottom: .25rem;
        .rtl & {
          margin-left: 0;
          margin-right: .25rem;
        }
      }
    }
  }

  .menu-title {
    color: inherit;
    display: inline-block;
    font-size:12;
    line-height: 1;
    vertical-align: middle;
  }
  .card{
    width: 122%!important;
  }