<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
       
        <h4 class="card-title"> <i class="mdi mdi-chart-bar menu-icon mr-2"></i>Bank Transactions</h4>
        <!-- <p class="card-description">
          Add class <code>.table-hover</code>
        </p> -->
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>TransactionID</th>
                <th>Deal name</th>
                <th>Customer name</th>
                <th>Bank Name</th>
                <th>Cheque number</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <!-- Loop through the data array and generate table rows dynamically -->
              <tr *ngFor="let item of tableData">
                <td>{{ item.trid }}</td>
                <td>{{ item.deal }}</td>
                <!-- <td [ngClass]="{'text-danger': item.sale < 50, 'text-success': item.sale >= 50}">
                  {{ item.ppu }}$ 
                </td> -->
                <td >  <button class="link-button" (click)="onCustomerClick(mediumModalContent)">{{ item.customer }}</button></td>
                <td>{{ item.bankName }}</td>

                <!-- <td>
                  <div class="progress">
                    <div class="progress-bar bg-gradient-warning" role="progressbar" [style.width.%]="item.available" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td> -->
                <td>{{ item.date }}</td>
                <td> 
                   <button style="text-decoration: none;border:none;background: none;"> <i class="mdi mdi-pencil "></i> </button>
                   <!-- <button style="text-decoration: none;border:none;background: none">  <i class="mdi mdi-eye pr-1 pl-1"></i>  </button> -->
                    <button (click)="deleteItem(item.trid)" style="text-decoration: none;border:none;background: none">  <i class="mdi mdi-delete"></i>  </button>

                </td>
              </tr>
            </tbody>
          </table>
        </div>



       
      </div>
    </div>
  </div>
  
  <!-- AddItem Form -->
<div class="col-12 grid-margin stretch-card mt-3">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Add Transaction</h4>
      <form class="form-inline">
        <input [ngModelOptions]="{ standalone: true }" type="text" [(ngModel)]="name" class="form-control mb-2 mr-sm-2" id="inlineFormInputName" placeholder="Deal Name">
     
        <input [ngModelOptions]="{ standalone: true }" type="text" [(ngModel)]="customer" class="form-control mb-2 mr-sm-2" id="inlineFormInputName" placeholder="Customer Name">
        <input [ngModelOptions]="{ standalone: true }" type="text" [(ngModel)]="bankName" class="form-control mb-2 mr-sm-2" id="inlineFormInputPrice" placeholder="Bank Name">
        <button type="button" (click)="addItem()" class="btn btn-gradient-primary mb-2">Submit</button>
      </form>
    </div>
  </div>
</div>
<ng-template #mediumModalContent let-modal class="modal fade" id="exampleModal-2" aria-labelledby="exampleModalLabel-2">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="assets/images/faces/face1.jpg" class="card-img" alt="Customer Image">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Customer Information</h5>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Deal Name:</strong> Deal 1</li>
                <li class="list-group-item"><strong>Customer Name:</strong> DEF Inc.</li>
                <li class="list-group-item"><strong>Amount:</strong> $1000</li>
                <li class="list-group-item"><strong>Cheque Number:</strong> 123456</li>
                <li class="list-group-item"><strong>Bank Name:</strong> Bank A</li>
                <li class="list-group-item"><strong>Date:</strong> 2024-05-06</li>
                <li class="list-group-item"><strong>Status:</strong> Complete</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </ng-template>
  