<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-10 grid-margin">

        <h4 class="card-title"><i class="mdi mdi-crosshairs-gps menu-icon mr-2"></i>Customers</h4>
</div>
<div class="col-2  grid-margin">
  <button  (click)="openMediumModal(mediumModalContent)" type="button" class="btn btn-gradient-info btn-sm">ADD</button>

</div>

      </div>
        <!-- <p class="card-description">
          Add class <code>.table-hover</code>
        </p> -->
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>User</th>
                <th>Product</th>
                <th>Sale</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <!-- Loop through the data array and generate table rows dynamically -->
              <tr *ngFor="let item of tableData">
                <td>{{ item.user }}</td>
                <td>{{ item.product }}</td>
                <td [ngClass]="{'text-danger': item.sale < 50, 'text-success': item.sale >= 50}">
                  {{ item.sale }}% <i [ngClass]="{'mdi mdi-arrow-down': item.sale < 50, 'mdi mdi-arrow-up': item.sale >= 50}"></i>
                </td>
                <td><label [ngClass]="{
                  'badge badge-danger': item.status === 'Pending',
                  'badge badge-warning': item.status === 'In progress',
                  'badge badge-info': item.status === 'Fixed',
                  'badge badge-success': item.status === 'Completed'
                }">{{ item.status }}</label></td>
                <td> 
                   <button style="text-decoration: none;border:none;background: none;"> <i class="mdi mdi-pencil "></i> </button>
                   <button style="text-decoration: none;border:none;background: none">  <i class="mdi mdi-eye pr-1 pl-1"></i>  </button>
                    <button (click)="deleteItem(item.itemId)" style="text-decoration: none;border:none;background: none">  <i class="mdi mdi-delete"></i>  </button>

                </td>
              </tr>
            </tbody>
          </table>
        </div>



       
      </div>
    </div>
  </div>
 



  <ng-template #mediumModalContent let-modal class="modal fade custom-modal" id="exampleModal-2" aria-labelledby="exampleModalLabel-2">
   
          <div class="card">
            <div class="card-body">
              <form class="form">
                <div class="form-group row">
                  <label for="inlineFormInputName2" class="col-sm-3 col-form-label">Username</label>
                  <div class="col-sm-9">
                    <input [ngModelOptions]="{ standalone: true }" type="text" [(ngModel)]="name" class="form-control" id="inlineFormInputName2" placeholder="User name">
                  </div>
                </div>
  
                <div class="form-group row">
                  <label for="productSelect" class="col-sm-3 col-form-label">Product</label>
                  <div class="col-sm-9">
                    <select [ngModelOptions]="{ standalone: true }" [(ngModel)]="product" class="form-control" id="productSelect">
                      <option>product 1</option>
                      <option>product 2</option>
                      <option>product 3</option>
                      <option>product 4</option>
                      <option>product 5</option>
                    </select>
                  </div>
                </div>
  
                <div class="form-group row">
                  <label for="statusSelect" class="col-sm-3 col-form-label">Status</label>
                  <div class="col-sm-9">
                    <select [ngModelOptions]="{ standalone: true }" [(ngModel)]="status" class="form-control" id="statusSelect">
                      <option>Pending</option>
                      <option>Completed</option>
                      <option>In Progress</option>
                    </select>
                  </div>
                </div>
  
                <div class="form-group row">
                  <div class="col-sm-12 text-right">
                    <button (click)="addItem()" type="submit" class="btn btn-gradient-primary">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
   
  </ng-template>
  
  
